@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  margin: 0;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.spinner-style{
  max-width: 100%;
  height: auto;
  color: inherit;
  padding: 0px;
  display: block;
  font-size: inherit;
  text-align: center;
}